body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
.page-heading{
  text-align: center;
  font-size: large;
  font-weight: bold;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 100px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

.card-height{
height: 400px;
}

canvas {
  width: 100%;
  height: 100%;
}
